<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MainEntitiesConnectionString" connectionString="metadata=res://Test-1-简单测试/data.DataModel1.csdl|res://Test-1-简单测试/data.DataModel1.ssdl|res://Test-1-简单测试/data.DataModel1.msl;provider=Devart.Data.SQLite;provider connection string=&quot;Data Source=E:\CCC.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="Devart.Data.SQLite" type="Devart.Data.SQLite.Entity.SQLiteEntityProviderServices, Devart.Data.SQLite.Entity.EF6, Version=5.11.1202.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </providers>
  </entityFramework>
</configuration>